.formation-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 30px;
    background-color: rgb(231, 229, 229);
    max-width: 500px;
    margin-bottom: 50px;
    padding: 0 20px;
}