@import "../../sass/abstract/colors.scss";

main {
    display: flex;
    flex-direction: column;
    background-color: $background;
    h2 {
        text-align: center;
        font-size: 2.6em;
        color: $dark-red;
    }
    p {
        font-size: 1.4em;
        font-weight: 500;
        text-align: justify;
    }
    .a-propos {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 100px 0;
        .texte-presentation {
            width: 50%;
            text-align: center;
            padding: 20px;
            color: $black;
            span {
                color: $dark-red;
                font-weight: 700;
            }
        }
    }
    .projets {
        margin: auto;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 120px;
        align-content: center;
        h2 {
            width: 100%;
            color: $grey;
        }
    }
    .formation {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 80px;
        h2 {
            width: 100%;
        }
    }
    .skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 150px;
        .liste-skills {
            margin-top: 20px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            flex-wrap: wrap;
            max-width: 600px;
            gap: 50px;           
        }
    }
    .contact {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: $black;
        .form {
            text-align: center;
            color: $white;
            width: 500px;
            padding-bottom: 20px;
            h2 {
                color: $white;
            }
            div {
                padding: 10px 0;
                input, textarea {
                    padding: 5px;
                    width: 300px;
                    border-radius: 5px;
                }
                textarea {                    
                    resize : none; 
                }
                button {
                    border-radius: 5px;
                    height: 30px;
                    width: 100px;    
                    color: $white;
                    background-color: $dark-red;
                    cursor: pointer;
                    &:hover {
                        background-color: $light-red;
                    }
                }
            }
        }        
    }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    main {
        h2 {
            font-size: 2em;
        }
        p {
            font-size: 1em;
        }
        .a-propos {
            margin: 20px 0;
            .texte-presentation {
                margin: 20px;
                width: auto;
                p {
                    font-size: 1em;
                }
            }
        }
        .projets {
            flex-direction: column;
            width: auto;
            margin-bottom: 40px;
        }            
        .contact {
            align-items: initial;
            .form {
                width: auto;
                div {
                    input, textarea {
                        width: 80%;
                    }
                }
            }
        }
    }
}