@import "../../sass/abstract/colors.scss";

main {
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/background.jpg");
    backdrop-filter: contrast(80%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    h2 {
        text-align: center;
        font-size: 2.2em;
    }
    p {
        font-size: 1.2em;
        text-shadow: 1px 1px 2px black;
    }
    .a-propos {
        // height: calc(100vh - 60px);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 100px 0;
        .texte-presentation {
            width: 50%;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.5);
            color: white; 
            padding: 20px;
            border-radius: 20px;
            box-shadow: 3px 3px 3px black;
            h2 {
                text-shadow: 1px 1px 2px black;
            }
        }
    }
    .projets {
        margin: auto;
        // height: 100vh;
        width: 80%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 120px;
        align-content: center;
        h2 {
            width: 100%;
            text-shadow: 1px 1px 2px rgb(248, 244, 211);
        }
    }
    .contact {
        // height: calc(100vh - 60px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 100px;
        .form {
            text-align: center;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            width: 500px;
            padding-bottom: 20px;
            border-radius: 20px;
            box-shadow: 3px 3px 3px black;
            div {
                padding: 10px 0;
                input, textarea {
                    padding: 5px;
                    width: 300px;
                    border-radius: 5px;
                }
                button {
                    border: 1px solid transparent;
                    border-radius: 5px;
                    height: 30px;
                    width: 100px;    
                    color: white;
                    background-color: rgb(48, 21, 45);
                    transition: 0.3s ease-in-out;
                    &:hover {
                        cursor: pointer;
                        transition: 0.3s ease-in-out;
                        color: rgb(168, 159, 159);
                        background-color: rgb(26, 12, 24);
                    }
                }
            }
        }
        .links {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
            // padding: 0 20px;
            border-radius: 20px;
            box-shadow: 3px 3px 3px black;
            a {
                text-decoration: none;
                color: white;
                padding: 10px 20px;
                transition: 0.3s ease-in-out;
                text-shadow: 1px 1px 2px black;
                &:hover {
                    color: rgb(168, 159, 159);
                    transition: 0.3s ease-in-out;
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    main {
        h2 {
            font-size: 1.5em;
        }
        p {
            font-size: 1em;
        }
        .a-propos {
            margin: 20px 0;
            .texte-presentation {
                margin: 20px;
                width: auto;
                p {
                    font-size: 1em;
                }
            }
        }
        .projets {
            flex-direction: column;
            width: auto;
            margin-bottom: 40px;
        }
        .contact {
            margin: 0 20px 40px 20px;
            align-items: initial;
            // width: 80%;
            .form {
                width: auto;
                // margin: 0 20px 0 20px;
                div {
                    input, textarea {
                        width: 80%;
                    }
                }
            }
        }
    }
}