@import "../../sass/abstract/colors.scss";

.card-project {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    margin: 20px;
    height: 500px;
    width: 45%;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, $dark-red, $black);
    color: $white;
    box-shadow: 10px 10px 5px $grey;
    .card-project-content {
        margin: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        h3 {        
            font-size: 1.8em;
            text-align: center;
        }
        p {
            font-size: 1.2em;
            font-weight: 400;
            text-align: center;
        }
        img {        
            height: 100px;
            width: 100px;
        }
        .liens {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            background-color: rgba(168, 167, 167, 0.5);
            border-radius: 40px;
            box-shadow: 3px 3px 3px $black;
            text-shadow: 3px 3px 3px $dark-red;
            margin-bottom: 20px;
            a {
                text-decoration: none;
                color: $white;
                &:hover {
                    color: $links;
                    text-shadow: -3px 3px 3px $dark-red;
                    transition: 0.3s ease;
                }
            }
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 799px) {
    .card-project {
        height: auto;
        width: auto;
        .card-project-content {
            h3 {
                font-size: 1.5em;
            }
            p {
                font-size: 1em;
            }
        }
    }
}