// @import "../../sass/abstract/colors.scss";

.card-project {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    margin: 20px;
    height: 450px;
    width: 45%;
    border: 0 solid transparent;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #800006, black);
    color: white;
    box-shadow: 10px 10px 5px grey;
    .card-project-content {
        margin: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        h3 {        
            font-size: 1.5em;
            text-align: center;
        }
        p {
            font-size: 1em;
            font-weight: 400;
            text-align: center;
        }
        img {        
            // filter: grayscale(100%);
            height: 100px;
            width: 100px;
        }
        .liens {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            background-color: rgba(168, 167, 167, 0.5);
            border-radius: 40px;
            box-shadow: 3px 3px 3px black;
            text-shadow: 3px 3px 3px #800006;
            margin-bottom: 20px;
            a {
                text-decoration: none;
                color: white;
                &:hover {
                    color: rgb(180, 180, 180);
                    text-shadow: -3px 3px 3px #800006;
                    transition: 0.3s ease;
                }
                // &::before{
                //     content: '';
                //     position: absolute;
                //     width: 0;
                //     height: 2px;
                //     bottom: 0;
                //     background-color: white;
                //     transition: width 0.3s ease;
                // }
                // &:hover::before {
                //     width: 25%;
                // }
            }
        }

    }

}

@media screen and (min-width: 320px) and (max-width: 600px) {
    .card-project {
        height: auto;
        width: auto;
    }
}