@import "../../sass/abstract/colors.scss";

.navbar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 60px;
    background-color: #303030;
    // font-size: 1.25em;
    .liens {
        padding-top: 15px;
        a {
            position: relative;
            font-size: 1.25em;
            color: white;
            padding: 0 50px;
            text-decoration: none;
            &::before{
                content: '';
                position: absolute;
                width: 0;
                height: 2px;
                bottom: 0;
                background-color: #b40009;
                transition: width 0.3s ease;
            }
            &:hover::before {
                width: 25%;
            }

        }
    }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    .navbar {
        .liens {      
            padding-top: 18px;   
            a{
                font-size: 1em;
                padding: 0 10px 0 20px;  
            }
        }
    }
}