@import "../../sass/abstract/colors.scss";

.navbar {
    display: flex;
    flex-direction: row-reverse;
    height: 60px;
    background-color: rgb(248, 244, 211);
    // font-size: 1.25em;
    div {
        padding-top: 15px;
        a {
            position: relative;
            font-size: 1.25em;
            color: black;
            padding: 0 50px;
            text-decoration: none;
            &::before{
                content: '';
                position: absolute;
                width: 0;
                height: 2px;
                bottom: 0;
                background-color: rgb(88, 39, 83);
                transition: width 0.3s ease;
            }
            &:hover::before {
                width: 25%;
            }

        }
    }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    .navbar {
        display: flex;
        div {
            a{
                font-size: 1em;
                padding: 0 20px;

            }
        }
    }
}