@import "../../sass/abstract/colors.scss";

.footer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    background-color: $black;
    .secret {
        display: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    .contact {
        align-items: initial;
        .form {
            width: auto;
            div {
                input, textarea {
                    width: 80%;
                }
            }
        }
    }
    .footer {
        p {
            font-size: 0.9em;
        }
    }
}